<div class="row ">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="form-group row">
            <div class="col-sm-12">
              <input placeholder="Model Test Name" [(ngModel)]="modelTest.name" type="text" class="form-control" name="modelTestNeme" >
              <br>
              <select class="form-control" name="modeltestcategory"
                      [(ngModel)]="modelTest.categoryId"   >
                <option value="">Select Category</option>
                <option *ngFor="let cat of setupCategories; let j=index" value="{{j}}">{{cat.title}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row" style="padding-left: 15px">
      <div class="col-md-6" *ngFor="let question of modelTest.questions; let i = index" >
        <h6 class="option-title">{{i+1}}. {{question.title}}</h6>
        <p class="option-text" *ngFor="let option of question.options; let i = index" > <input type="checkbox" disabled [checked]="option.answer"> a) {{option.title}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <br>
        <br>
        <button type="button" class="btn btn-success" (click)="createModelTest()" *ngIf="modelTest.questions.length > 0">Create</button>
      </div>
    </div>
  </div>

  <div class="col-md-6" style="min-height: 500px;    border-left: 1px solid #d0e2e0">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <ul class="nav nav-pills mb-3 float-right" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-select" role="tab" aria-controls="pills-profile" aria-selected="false">Add Questions</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-create" role="tab" aria-controls="pills-home" aria-selected="true">Select Questions</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade  " id="pills-select" role="tabpanel" aria-labelledby="pills-home-tab">
              <form  #addQuestionForm="ngForm" (ngSubmit)="addQuestion(addQuestionForm)">
                <div class="form-group row">
                  <label for="title" class="col-md-4">Question Title: </label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="question.title"  required #title="ngModel" minlength="6">
                  </div>
                </div>
                <div class="form-group row" *ngFor="let option of question.options; let i = index">
                  <label  class="col-md-2">{{questionOptionEnum[i]}}) </label>
                  <div  class="col-md-1">
                    <input type="checkbox"  name="answer{{i}}" [(ngModel)]="option.answer" >
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-8">
                    <input type="text" class="form-control" name="option{{i}}" [(ngModel)]="option.title" >
                  </div>
                </div>
                <div class="form-group row">
                  <label for="category" class="col-md-4">Category: </label>
                  <div class="col-md-8">
                    <select class="form-control" id="category" name="category"
                            [(ngModel)]="question.categoryId" required #category="ngModel"  (change)="addCategory(category)">
                      <option *ngFor="let cat of setupCategories" value="{{cat._id}}">{{cat.title}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="subject" class="col-md-4">Subject: </label>
                  <div class="col-md-8">
                    <select  class="form-control" id="subject" name="subject" [(ngModel)]="question.subjectId" required #subject="ngModel">
                      <option *ngFor="let sub of setupSubjects; let i = index" value="{{i}}">{{sub.title}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="chapter" class="col-md-4">Chapter: </label>
                  <div class="col-md-8">
                    <select class="form-control" id="chapter" name="chapter" [(ngModel)]="question.chapterId" required #chapter="ngModel">
                      <option *ngFor="let chp of setupChapters; let i = index" value="{{i}}">{{chp.title}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-success float-right">Add</button>
                  </div>
                </div>
              </form>

            </div>
            <div class="tab-pane fade show active" id="pills-create" role="tabpanel" aria-labelledby="pills-profile-tab">
              <input (keyup.enter)="SearchKey()" class="form-control" placeholder="Search .." [(ngModel)]="searchKey">
              <div class="row" style="padding-left: 15px">
                <div class="col-md-6" *ngFor="let ques of questions; let i = index" >
                  <h6 (click)="selectQuestion(i)" class="option-title" style="cursor: pointer">{{i+1}}. {{ques.title}}</h6>
                  <p class="option-text" *ngFor="let option of ques.options; let i = index" > <input type="checkbox" disabled [checked]="option.answer"> a) {{option.title}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

  </div>
</div>

