<div class="row" style="margin-top: -18px;">
  <div class="col-md-12">
    <p><span class="cat-label">{{category}}</span></p>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="btn-group btn-group-sm ">
      <button *ngFor="let sub of subjects" type="button" class="btn btn-info">{{sub.title}}</button>
    </div>
  </div>
  <div class="col-md-3">
    <select class="form-control">
      <option>Select a Chapter</option>
    </select>
  </div>
</div>
<br>
<div class="row" style="padding-left: 15px">
  <div class="col-md-4" *ngFor="let question of questions; let i = index" >
    <h6 class="option-title">{{i+1}}. {{question.title}}</h6>
    <p class="option-text" *ngFor="let option of question.options; let i = index" > <input type="checkbox" [checked]="option.answer"> a) {{option.title}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="text-align: center; margin-bottom: 20px;margin-top: 10px">
    <button class="btn btn-sceondary" (click)="loadMore()">more questions</button>
  </div>
</div>
