<div class="container">
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="title" class="col-md-4">Question Title: </label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="question.title"  required #title="ngModel" minlength="6">
                <div *ngIf="form.submitted && title.invalid" class="text-danger">
                  <div *ngIf="title.errors.required">Title is required</div>
                  <div *ngIf="title.errors.minlength">Title must be at least 6 characters</div>
                </div>
              </div>
            </div>
            <div class="form-group row" *ngFor="let option of question.options; let i = index">
              <label  class="col-md-2">{{questionOptionEnum[i]}}) </label>
              <div  class="col-md-1">
                <input type="checkbox"  name="answer{{i}}" [(ngModel)]="option.answer" >
              </div>
              <div class="col-md-1" *ngIf="question.options.length == (i+1)">
                <a class="btn btn-success btn-sm cat-dlt-btn" (click)="addOption()">+</a>
              </div>
              <div class="col-md-1" *ngIf="question.options.length != (i+1)"></div>
              <div class="col-md-8">
                <input type="text" class="form-control" name="option{{i}}" [(ngModel)]="option.title" >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="category" class="col-md-4">Category: </label>
              <div class="col-md-8">
                <select class="form-control" id="category" name="category"
                        [(ngModel)]="question.categoryId" required #category="ngModel"  (change)="addCategory(category)">
                  <option *ngFor="let cat of setupCategories" value="{{cat.id}}">{{cat.title}}</option>
                </select>
                <div *ngIf="form.submitted && category.invalid" class="text-danger">
                  <div *ngIf="category.errors.required">Category is required</div>
                </div>
                <span class="badge badge-info selected-category" *ngFor="let item of question.categories; let i = index">
                  <h6>{{item.title}} <span class="btn btn-warning cat-dlt-btn" (click)="delCategory(i)">X</span></h6>
                </span>
              </div>
            </div>
            <div class="form-group row">
              <label for="subject" class="col-md-4">Subject: </label>
              <div class="col-md-8">
                <select  class="form-control" id="subject" name="subject" [(ngModel)]="question.subjectId" required #subject="ngModel">
                  <option *ngFor="let sub of setupSubjects" value="{{sub.id}}">{{sub.title}}</option>
                </select>
                <div *ngIf="form.submitted && subject.invalid" class="text-danger">
                  <div *ngIf="subject.errors.required">Subject is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="chapter" class="col-md-4">Chapter: </label>
              <div class="col-md-8">
                <select class="form-control" id="chapter" name="chapter" [(ngModel)]="question.chapterId" required #chapter="ngModel">
                  <option *ngFor="let chp of setupChapters" value="{{chp.id}}">{{chp.title}}</option>
                </select>
                <div *ngIf="form.submitted && chapter.invalid" class="text-danger">
                  <div *ngIf="chapter.errors.required">Chapter is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success float-right pull-right" >Submit</button>

  </form>
</div>
