/*
   server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
.dataTables_empty {
  display: none;
}

label{
  font-weight: 400;
}

.selected-category{
  margin: 6px 6px 0px 0px;
}
.cat-dlt-btn{
  height: 25px;
  width: 30px;
  padding: 0px;
  margin: -5px -1px -8px 0px;
}
.option-title {
  margin: 15px 0px 3px 0px;
  padding: 0px 0px 0px 0px;
}
.option-text {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.btn-group-mar-top{
  margin-top: -30px;
}

.cat-label{
  background: #d6eff5;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
}


